header {
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #e72929;
}

a {
    color: #afafaf;   
}

a:hover {
    background-color: #e72929;
    color: #fff;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;

    li a {
        display: inline-block;
        padding: 1em;
    }
}
