ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

li a {
    height: 20rem;
    width: 20rem;
    border: 1px solid coral;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;

    :hover {
        opacity: 0.8;
        cursor: pointer;
    }
}